-# .container-fluid
-#   .row.bkGround
-#     .btn.btn-dark1.btn-lg
-#       Coming Soon
-#


.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          %h3.masthead-brand
            DarQzan
          %nav.nav.nav-masthead
            %a.nav-link.active{:href=>"#"}
              Home
            %a.nav-link{:href=>"#"}
              Features
            %a.nav-link{:href=>"#"}
              Contact
      .inner.cover
        %h1.cover-heading
          Coming Soon
        -# %p.lead
          -# Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        -# %p.lead
          %a.btn.btn-lg.btn-secondary{:href=>"#"}
            Learn more
      .mastfoot
        .inner
          %p
            -# Cover template for
